{% extends "index.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="form-group">
            {{ form.book_title.label }}<br />
            {{ form.book_title(size=128) }}
            {% for error in form.book_title.errors %}
                <span class="alert-danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="form-group">
            {{ form.book_genre.label }}<br />
            {{ form.book_genre(size=32) }}
        </p>
        <p class="form-group">
            {{ form.authors.label }}<br />
            {{ form.authors(rows=2, multiple=True) }}
        </p>
        <p><a href="{{ url_for('add_author') }}">Add author</a></p>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {% if form.errors %}
        <div class="alert-danger">{{ form.errors }}</div>
    {% endif %}
{% endblock %}
