{% extends "index.html" %}

{% block content %}
    <form action="/delete_book/{{ book.id }}" method="post" name="delete">
        {{ form.hidden_tag() }}
        <div class="alert-danger well-sm">{{ ask_for_confirmation }} {{ book }}</div>

        <div class="form-group well">
            {{ form.confirm_del }} {{ form.confirm_del.label }}
        </div>
        {{ form.submit(class="btn btn-danger") }}
    </form>
    {% if form.errors %}
        <div class="alert-danger">{{ form.errors }}</div>
    {% endif %}
{% endblock %}
