{% extends "index.html" %}

{% block content %}
    <form action="" method="post" name="search" class="form-inline">
        {{ form.hidden_tag() }}
        <p class="form-group">
            {{ form.search_title.label }}<br />
            {{ form.search_title(size=32) }}<br />
        </p>
        <p class="form-group">
            {{ form.search_author.label }}<br />
            {{ form.search_author(size=32) }}<br />
        </p>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {% if form.errors %}
        <div class="alert-danger">{{ form.errors }}</div>
    {% endif %}
{% endblock %}
