{% extends "index.html" %}

{% block content %}
    <form action="" method="post" name="search">
        {{ form.hidden_tag() }}
        <p class="form-group">
            {{ form.search_title.label }}<br>
            {{ form.search_title(size=32) }}<br>
        </p>
        <p class="form-group">
            {{ form.search_author.label }}<br>
            {{ form.search_author(size=32) }}<br>
        </p>
        <p class="btn btn-default">
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
